/* header */

@media (min-width: 770px) {

    body {

        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );
        overflow-x: hidden;
        overscroll-behavior: none;
    }

    * {

        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

    #header * {

        position: fixed;
        z-index: 1;
    }

    #pfp {

        width: 70px;
        height: 70px;
        z-index: 2;
        position: fixed;
        left: 100px;
    }
    
    #big-pfp {

        width: 12.3vw;
        height: 12.3vw;
        margin-top: 20px;
        margin-right: 5px;
        border-radius: 50%;
        border: 5px solid black;
    }

    

    #front-page {

        display: flex;
    }

    #header-container {

        display: flex;
        gap: 100px;

        background-color: lightblue;
        border: 1px solid lightblue;
        width: 100%;
        height: 80px;
        top: 0vh;
        left: 0vw;
    }

    #ethan-james {

        top: 7.5px;
        left: 192px;
        font-size: 50px;

    }

    #work-link {

        top: 15px;
        left: 70vw;
        color: black;
        background: #fff;
        border-radius: 50px;
        padding: 10px 10px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 40px;
        box-shadow: 
            0 8px 20px rgba(0, 0, 0, 0.1),   /* subtle shadow */
            20px 10px 0 -5px #fff,           /* simulate puffiness */
            -20px 10px 0 -5px #fff,
            10px 20px 0 -5px #fff,
            -10px 20px 0 -5px #fff;
        font-family: sans-serif;
        font-size: 1rem;
        color: black;
    }

    /* description */


    #description-container {

        position: absolute;
        display: flex;
        color: white;
        gap: 50px;
        height: 550px;
        width: 100%;
        margin-left: -8px;
        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );
        border-bottom: 5px solid white;
        top: 80px;

    }

    #welcome-container {

        padding-right: 50px;
        margin-left: 50px;
        border-right: 5px solid black;
    }

    #welcome-message {

        padding-left: 57px;

    }

    #ethan-description {

        text-align: justify;
        width: 384px;
    }

    #link-container {

        display: flex;
        gap: 100px;
    }
    #linkedin-button {

        background-color: blue;
        color: white;
        transition: 0.3s ease;

    }

    #linkedin-button:hover {

        scale: 1.2;
    }

    #github-button {

        background-color: black;
        color: white;
        transition: 0.3s ease;
    }

    #github-button:hover {

        scale: 1.2;
    }

    #email-button {

        background-color: aqua;
        color: red;
        transition: 0.3s ease;
    }

    #email-button:hover {

        scale: 1.2;
    }

    /* featured projects */

    #projects-header {

        opacity: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white; /* Yellow background */
        color: #0B1D51; /* Dark blue text */
        font-weight: bold;
        font-family: sans-serif;
        font-size: 1rem;
        text-align: center;
        margin-left: 50px;
        color: black;
        
    }

    @keyframes popAndRotate {

        0% {
            transform: scale(0.2) rotateX(90deg);
            opacity: 0;
        }
        60% {
            transform: scale(1.1) rotateX(-10deg);
            opacity: 1;
        }
        100% {
            transform: scale(1) rotateX(0deg);
        }
    }

    #projects-container {

        padding-top: 5%;
        position: absolute;
        height: 1700px;
        width: 100%;
        border-top: 5px solid black;
        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );

        top: 625px;
        left: 0vw;
        overflow-x: hidden;

    }

    #projects-container-one {

        display: flex;
        height: fit-content;
        gap: 50px;
        left: 0vw;
    }

    #projects-container-two {

        margin-top: 50px;
        margin-left: 5%;
        display: flex;
        height: fit-content;
        gap: 50px;
        left: 0vw;

    }

    @keyframes fade-in {

        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }

    }

    .project-container {

        width: 384px;
        height: fit-content;
        padding-bottom: 20px;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        transform: scale(1);
        
    }

    .project-container ul {

        padding: 0px;
        

    }

    .project-container ul p {

        background: #fff;
        border-radius: 50px;
        padding: 10px 10px;
        width: fit-content;
        margin-bottom: 40px;
        box-shadow: 
            0 8px 20px rgba(0, 0, 0, 0.1),   /* subtle shadow */
            20px 10px 0 -5px #fff,           /* simulate puffiness */
            -20px 10px 0 -5px #fff,
            10px 20px 0 -5px #fff,
            -10px 20px 0 -5px #fff;
        font-family: sans-serif;
        font-size: 18px;
        color: black;
    }

    #lecture-cram-planner-header {

        text-align: center;

    }

    #horror-game-header {

        text-align: center;

    }

    #horror-game-desc {

        text-align: justify;
        padding-right: 10px;

    }

    #athletics-race-simulator {

        width: 580px !important;

    }

    #athletics-desc {

        text-align: justify;
        padding-right: 10px;

    }

    #athletics-title {

        text-align: center;

    }

    #andie-text {

        text-align: center;

    }

    #andie-desc {

        text-align: justify;
        padding-right: 10px;

    }

    #web-scraper-desc {

        text-align: center;

    }

    #ml-title {

        text-align: center;

    }

    #ml-desc {

        text-align: justify;
        padding-right: 10px;

    }

    .click {

        width: 200px;
        margin-left: 92px;
        margin-top: -50px;
    }

    #athletics-race-simulator .click {

        width: 200px; 
        margin-left: 190px; 
        margin-top: -50px;
    }

    .project-container:hover {

        z-index: 3;

        transform: scale(1.1) translateX(-20px);
        
    }

    img {

        width: 100%;
        height: 250px;
    }

    #andie-img {

        height: 350px;
    }

    .project-description {

        padding-left: 5px;
    }

    #download {

        margin-left: 40%;
        width: 40px;
        height: 40px;
    }

    #website {

        margin-left: 37%;
        width: 80px;
        height: 25px;
    }

    #play {

        margin-left: 42%;
        height: 40px;
        width: 40px;

    }

    /* education-experience */

    #education-experience-container {

        display: flex;
        width: 100%;
        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );
        border-top: 5px solid black;
        top: 2350px;
        height: 1000px;
        position: absolute;
        left: 0vw;

    }

    #experience-container {

        padding-left: 96px;
        padding-right: 96px;
    }

    #education-header {

        color: white;

    }

    #education-container {

        padding-left: 96px;
        padding-right: 96px;

    }

    #otago-container {

        background: linear-gradient(
        to top,
        #ffffff,   /* white */
        #f9f9f9,   /* very light gray */
        #ededed,   /* light gray */
        #cccccc    /* medium-light gray */); 
        text-align: center; color: black;
        padding-bottom: 50px;
    }

    #education-content {

        text-align: center;

    }

    #back-end-engineer-container {

        background: linear-gradient(
        to top,
        #ffffff,   /* white */
        #f9f9f9,   /* very light gray */
        #ededed,   /* light gray */
        #cccccc    /* medium-light gray */); 
        background-color: #10162F; 
        color: black; 
        text-align: center;
        padding-bottom: 50px;

    }

    @keyframes slideInFromRight {

        from {
            opacity: 0;
            transform: translateX(1000px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #experience-container div {

        opacity: 0;
        transform: translateX(1000px);
        box-shadow: 10px 10px 12px rgba(0,0,0,0.3);
        transition: none;
        
    }

    .random {
        
        animation: slideInFromRight 1s ease-out forwards;

    }

    .random2 {

        animation: popAndRotate 1s ease-out forwards;
    }

    .badge {

        width: 100px;
        color: white;
        background-color: gray;
        border: 1px solid black;
        margin-left: calc((100% - 136px)/2);
        margin-bottom: 10px;
        border-radius: 10px;
    }

    #java-developer-container {

        background: linear-gradient(
        to bottom,
        #444444,  /* dark gray */
        #222222,  /* darker gray */
        #000000   /* black */ );

    }

    #web-developer-container {

        background: linear-gradient(
        to bottom,
        #444444,  /* dark gray */
        #222222,  /* darker gray */
        #000000   /* black */   );

    }

    #software-tester-container {

        background: linear-gradient(
        to bottom,
        #444444,  /* dark gray */
        #222222,  /* darker gray */
        #000000   /* black */   ); 
        color: white; 
        padding-left: 30px; 
        padding-bottom: 40px;

    }

    #notetaker-container {

        background: linear-gradient(
        to bottom,
        #444444,  /* dark gray */
        #222222,  /* darker gray */
        #000000   /* black */    ); 
        color: white; 
        padding-left: 40px; 
        padding-bottom: 40px;

    }

    #software-testing-list {

        padding-left: 55px;

    }

    .giftbox-info {

        color: white;
        padding-left: 30px;

    }

    #giftbox-list {

        color: white;
        padding-bottom: 40px;
        padding-left: 80px;

    }

    .employment-info {

        color: white;
        padding-left: 30px;

    }

    #employment-list {

        color: white;
        padding-bottom: 40px;
        padding-left: 80px;

    }

    /* skills */

    #skills-flexbox {

        display: flex;
        flex-wrap: nowrap;
    }

    #skills-header {

        /* margin-right: 50px; */
        background: #fff;
        border-radius: 50px;
        padding: 10px 10px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 40px;
        box-shadow: 
            0 8px 20px rgba(0, 0, 0, 0.1),   /* subtle shadow */
            20px 10px 0 -5px #fff,           /* simulate puffiness */
            -20px 10px 0 -5px #fff,
            10px 20px 0 -5px #fff,
            -10px 20px 0 -5px #fff;
        font-family: sans-serif;
        font-size: 50px;
        color: black;

    }

    #java-skill {

        color: white;
        background: black;
    }
    #python-skill {

        color: white;
        margin-left: 40px;
        background: black;
    }

    #html-skill {

        margin-left: 100px;
        background: black;
        color: white;
    }

    #node-skill {

        margin-left: 180px;
        background: black;
        color: white;
    }

    #express-skill {

        margin-left: 240px;
        background: black;
        color: white;
    }

    #unity-skill {

        margin-left: 310px;
        background: black;
        color: white;
    }

    #skills-container {

        top: 150px;
        left: 500px;
        margin-right: 50px;
        display: grid;
        color: black;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        box-sizing: border-box;
        width: fit-content;
        height: fit-content;
    }

    .skill-section {

        margin-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #skills-container > ul {

        transition: transform 0.3s ease;
        transform: scale(1);
        border: 1px solid black;
        background: darkgray;
        padding-right: 30px;
        font-size: 14px;

    }

    #skills-container:hover > ul {
    
        transform: scale(1.1);
    }

    /* footer */

    #footer-container {

        display: flex;
        align-items: center;
        top: 3645px;
        position: absolute;
        gap: 70vw;
        background: gray;
        width: 100%;
        height: 100px;
        margin-left: -8px;
    }

    #footer-resume {

        left: 70%;

    }

    #footer-links {

        display: flex;
        gap: 3vw;
    }

    #footer-work {

        margin-top: 20px;
        left: 70vw;
        color: black;
        background: #fff;
        border-radius: 50px;
        padding: 10px 10px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 40px;
        box-shadow: 
            0 8px 20px rgba(0, 0, 0, 0.1),   /* subtle shadow */
            20px 10px 0 -5px #fff,           /* simulate puffiness */
            -20px 10px 0 -5px #fff,
            10px 20px 0 -5px #fff,
            -10px 20px 0 -5px #fff;
        font-family: sans-serif;
        font-size: 1rem;
        color: black;
        left: 75%;
    }
}
