/* header */

* {

    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header * {

    position: fixed;
    z-index: 1;
}

#pfp {

    width: 70px;
    height: 70px;
    z-index: 2;
    position: fixed;
    left: 100px;
}

#front-page {

    display: flex;
}

#header-container {

    display: flex;
    gap: 100px;

    background-color: lightblue;
    border: 1px solid lightblue;
    width: 1920px;
    height: 80px;
    top: 0vh;
    left: 0vw;
}

#ethan-james {

    top: 7.5px;
    left: 192px;
    font-size: 50px;

}

#work-link {

    top: 30px;
    left: 70vw;
    color: white;
}

#resume-link {

    top: 30px;
    left: 75vw;
    color: white;
}

/* description */


#description-container {

    padding-top: 2%;
    padding-left: 10%;
    position: absolute;
    height: 550px;
    width: 1728px;
    background-color: lightgreen;
    border: 1px solid lightgreen;

    top: 80px;
    left: 192px;
    margin-left: -192px;
    overflow-x: hidden;

}

#welcome-message {

    padding-left: 57px;

}

#ethan-description {

    width: 384px;
}

#link-container {

    display: flex;
    gap: 39px;
}

#resume-button {

    background-color: red;
    color: white;
}
#linkedin-button {

    background-color: blue;
    color: white;

}

#github-button {

    background-color: black;
    color: white;
}

#email-button {

    background-color: aqua;
    color: red;
}

/* featured projects */

#projects-header {

    text-align: center;
}

#projects-container {

    padding-top: 5%;
    position: absolute;
    height: 700px;
    width: 1920px;
    background-color: darkgreen;
    border: 1px solid darkgreen;

    display: flex;
    gap: 115px;

    top: 650px;
    left: 0vw;
    overflow-x: hidden;

}

@keyframes fade-in {

    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.project-container {

    width: 384px;
    height: 650px;
    padding-bottom: 20px;
    background-color: gray;
    align-items: center;

    transition: transform 0.3s ease;
    transform: scale(1);
    
}

.project-container:hover {

    animation-duration: 1s;
    animation-name: enlarge;
    
}

img {

    width: 100%;
    height: 250px;
}

#andie-img {

    height: 350px;
}

.project-description {

    padding-left: 5px;
}

.download-button {

    color: white;
    width: 100px;
    height: 100px;
    background-color: lime;
    margin-left: 40%;
}

/* education-experience */

#education-experience-container {

    display: flex;
    width: 1920px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    top: 1435px;
    position: absolute;
    left: 0vw;
    overflow-x: hidden;

    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

}

#experience-container {

    padding-left: 96px;
    padding-right: 96px;
}

#education-container {

    padding-left: 96px;
    padding-right: 96px;

}

.badge {

    width: 100px;
    color: white;
    background-color: gray;
    border: 1px solid black;
}

/* skills */

#skills-container {

    display: block;
    margin-left: 864px;
    margin-top: -500px;
    width: fit-content;
    height: 550px;
}

#skills-container-two {

    display: block;
    margin-left: 1152px;
    margin-top: -500px;
    width: fit-content;
    height: 50px;
}

#skills-container > ul {
  transition: transform 0.3s ease;
  transform: scale(1);
}

#skills-container:hover > ul {
  
    transform: scale(1.15);
}

#skills-container-two > * {
    transition: transform 0.3s ease;
    transform: scale(1);
}

#skills-container-two:hover > * {
    
    transform: scale(1.15);
}

@keyframes enlarge {

    0%{
        scale: 1;
    }

    100%{

        scale: 1.1;
    }


}