/* header */

@media (min-width: 770px) {

    body {

        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );
        overflow-x: hidden;
        overscroll-behavior: none;
    }

    * {

        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

    #header * {

        position: fixed;
        z-index: 1;
    }

    #pfp {

        width: 70px;
        height: 70px;
        z-index: 2;
        position: fixed;
        left: 100px;
    }

    #front-page {

        display: flex;
    }

    #header-container {

        display: flex;
        gap: 100px;

        background-color: lightblue;
        border: 1px solid lightblue;
        width: 100%;
        height: 80px;
        top: 0vh;
        left: 0vw;
    }

    #ethan-james {

        top: 7.5px;
        left: 192px;
        font-size: 50px;

    }

    #work-link {

        top: 30px;
        left: 70vw;
        color: black;
    }

    #resume-link {

        top: 30px;
        left: 75vw;
        color: black;
    }

    /* description */


    #description-container {

        position: absolute;
        display: flex;
        gap: 50px;
        height: 550px;
        width: 100%;
        margin-left: -8px;
        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );
        border-bottom: 5px solid white;
        top: 80px;

    }

    #welcome-container {

        padding-right: 50px;
        border-right: 5px solid black;
    }

    #welcome-message {

        padding-left: 57px;

    }

    #ethan-description {

        width: 384px;
    }

    #link-container {

        display: flex;
        gap: 39px;
    }

    #resume-button {

        background-color: red;
        color: white;
    }
    #linkedin-button {

        background-color: blue;
        color: white;

    }

    #github-button {

        background-color: black;
        color: white;
    }

    #email-button {

        background-color: aqua;
        color: red;
    }

    /* featured projects */

    #projects-header {

        opacity: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white; /* Yellow background */
        color: #0B1D51; /* Dark blue text */
        font-weight: bold;
        font-family: sans-serif;
        font-size: 1rem;
        text-align: center;
        margin-left: 50px;
        
    }

    @keyframes popAndRotate {

        0% {
            transform: scale(0.2) rotateX(90deg);
            opacity: 0;
        }
        60% {
            transform: scale(1.1) rotateX(-10deg);
            opacity: 1;
        }
        100% {
            transform: scale(1) rotateX(0deg);
        }
    }

    #projects-container {

        padding-top: 5%;
        position: absolute;
        height: 700px;
        width: 100%;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );

        display: flex;
        gap: 50px;

        top: 600px;
        left: 0vw;
        overflow-x: hidden;

    }

    @keyframes fade-in {

        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }

    }

    .project-container {

        width: 384px;
        height: fit-content;
        padding-bottom: 20px;
        background-color: black;
        color: white;
        align-items: center;

        transition: transform 0.3s ease;
        transform: scale(1);
        
    }

    .project-container:hover {

        z-index: 3;
        transform: scale(1.1);
        
    }

    img {

        width: 100%;
        height: 250px;
    }

    #andie-img {

        height: 350px;
    }

    .project-description {

        padding-left: 5px;
    }

    #download {

        margin-left: 40%;
    }

    #website {

        margin-left: 37%;
        width: 80px;
        height: 25px;
    }

    #play {

        margin-left: 42%;
        height: 40px;
        width: 40px;

    }

    /* education-experience */

    #education-experience-container {

        display: flex;
        width: 100%;
        background: linear-gradient(
            to left,
            #f0f0f0,  /* light grey */
            #b0b0b0,  /* mid grey */
            #808080,  /* darker grey */
            #404040,  /* very dark grey */
            #000000   /* black */
        );
        border-top: 5px solid black;
        top: 1300px;
        min-height: 1445px;
        position: absolute;
        left: 0vw;

    }

    #experience-container {

        padding-left: 96px;
        padding-right: 96px;
    }

    #education-container {

        padding-left: 96px;
        padding-right: 96px;

    }

    @keyframes slideInFromRight {

        from {
            opacity: 0;
            transform: translateX(1000px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #experience-container div {

        opacity: 0;
        transform: translateX(1000px);
        box-shadow: 10px 10px 12px rgba(0,0,0,0.3);
        transition: none;
        
    }

    .random {
        
        animation: slideInFromRight 1s ease-out forwards;

    }

    .random2 {

        animation: popAndRotate 1s ease-out forwards;
    }

    .badge {

        width: 100px;
        color: white;
        background-color: gray;
        border: 1px solid black;
        margin-left: calc((100% - 136px)/2);
        margin-bottom: 10px;
    }

    /* skills */

    #skills-container {

        padding-top: 2%;
        display: block;
        box-sizing: border-box;
        width: fit-content;
        height: 550px;
    }

    #skills-container-two {

        padding-top: 2%;
        display: block;
        width: fit-content;
        height: 50px;
    }

    #skills-container > ul {

        transition: transform 0.3s ease;
        transform: scale(1);
    }

    #skills-container:hover > ul {
    
        transform: scale(1.15);
    }

    #skills-container-two > * {
        transition: transform 0.3s ease;
        transform: scale(1);
    }

    #skills-container-two:hover > * {
        
        transform: scale(1.15);
    }
}
