/* header */

* {

    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header * {

    position: fixed;
    z-index: 1;
}

#header-container {

    display: flex;
    gap: 100px;

    background-color: darkgreen;
    border: 1px solid darkgreen;
    width: 100vw;
    height: 80px;
    top: 0vh;
    left: 0vw;
}

#ethan-james {

    top: 7.5px;
    left: 10vw;
    font-size: 50px;

}

#work-link {

    top: 30px;
    left: 70vw;
    color: white;
}

#about-link {

    top: 30px;
    left: 75vw;
    color: white;
}

#resume-link {

    top: 30px;
    left: 80vw;
    color: white;
}

/* description */


#description-container {

    padding-top: 5%;
    padding-left: 10vw;
    position: absolute;
    height: 550px;
    width: 100vw;
    background-color: lightgreen;
    border: 1px solid lightgreen;

    top: 80px;
    left: 0vw;

}

#welcome-message {

    padding-left: 3vw;

}

#ethan-description {

    width: 20vw;
}

#link-container {

    display: flex;
    gap: 2vw;
}

#resume-button {

    background-color: red;
    color: white;
}
#linkedin-button {

    background-color: blue;
    color: white;

}

#github-button {

    background-color: black;
    color: white;
}

#email-button {

    background-color: aqua;
    color: red;
}

/* featured projects */

#projects-header {

    text-align: center;
}

#projects-container {

    padding-top: 5%;
    padding-left: 8vw;
    position: absolute;
    height: 700px;
    width: 100vw;
    background-color: darkgreen;
    border: 1px solid darkgreen;

    display: flex;
    gap: 5vw;

    top: 650px;
    left: 0vw;

}

.project-container {

    width: 20vw;
    height: 650px;
    padding-bottom: 20px;
    background-color: gray;
}

.project-container {

    align-items: center;
}

img {

    width: 100%;
    height: 250px;
}

#andie-img {

    height: 350px;
}

.project-description {

    padding-left: 5px;
}

.download-button {

    color: white;
    background-color: lime;
    
}

/* education-experience */

#education-experience-container {

    display: flex;
    width: 100vw;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    top: 1350px;
    position: absolute;

}

#experience-container {

    padding-left: 20vw;

}

#education-container {

    padding-left: 20vw;

}

.badge {

    width: 100px;
    color: white;
    background-color: gray;
    border: 1px solid black;
}

